[submodule "frontend"]
	path = frontend
	url = git@github.com:aldoestebanpaz/netfily-sample-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:aldoestebanpaz/netfily-sample-backend.git
